{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section class="lower-part">
        <div class="saytlar-news">
            <a class="aylana-label" href="#"><span>{{ category_object }} kategoriyasiga doir saytlar</span></a>
            <div class="saytlar-container">
                {% for site in sites %}
                <a href="{{ site.get_absolute_url }}">
                    <img src="{{ site.photo.url }}" alt="">
                    <div class="saytlar">
                        <h5>{{ site.title }}</h5>
                        <p>{{ site.body|slice:"350" }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="paginator">
                {% include "paginator.html" with page=sites %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}