{% extends 'base.html' %}
{% load blog_tags %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/artice.css' %}">
<main>
    <section class="top-news">
        {% most_comments %}
        <div class="portfol-layout">
            <div class="portfol-layout__header">
                <div class="header-time"><span class="time-ui">{{ sayt.created_at|date:"d/m/Y | f"}}</span></div>
                <div class="content-views"><span class="">{{ sayt.see }}</span></div>
                <div class="share-news">

                </div>
            </div>
            <div class="portfol-layout__content">
                <h1>{{ sayt.title }}</h1>
                <h4>{{ sayt.subtitle }}</h4>
                <div class="content-img">
                    <img src="{{ sayt.photo.url }}" alt="">
                    <div class="main-img__caption">{{ sayt.photo }}</div>
                </div>
                <p dir="auto">{{ sayt.body }}</p>
                <div class="article-layout__bottom">
                    <ul>
                        {% for tag in sayt.tags.all %}
                        <li class="bottom-tag"><a href="{% url 'portfol:site_list_by_tag' tag.slug %}">#{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="article-layout__comment">
                <div class="comment-head"><span>4 comments</span>test</div>
                <div class="comment-form">
                    <div class="comment-avatar">J</div>

                    <form method='site' id="comment-form" onsubmit="myFunction(e)">
                        {% csrf_token %}
                        <input required id="id_name" type="text" name="name" placeholder="name" autocomplete="username">

                        <input required id="id_email" type="text" name="email" placeholder="email"
                            autocomplete="username">

                        <textarea name="body" id="id_body" rows="2" placeholder="comment"></textarea>

                        <input type="submit" value="send">
                    </form>

                </div>
                <div class="comments-body">
                    <!-- <div class="comment-ordering">
                            <label class="ordering__new">
                                <input type="radio" checked="checked" name="radio" onclick="console.log(this)">
                                <span>NEW</span>
                                <span class="ordering__checkmark"></span>
                            </label>
                            <label class="ordering__older">
                                <input type="radio" name="radio">
                                <span>OLDER</span>
                                <span class="ordering__checkmark"></span>
                            </label>
                        </div> -->
                    <div class="comments-list">
                        {% for comment in comments %}
                        <div class="comment-container" itemid="1">
                            <div class="comment-avatar">{{ comment.name|slice:"1" }}</div>
                            <div class="comment-info">
                                <div class="comment-info-head">
                                    <p class="comment-username">{{ comment.name }}</p>
                                    <p class="comment-time time-ui">{{ comment.created_at|date:"d/m/Y | f" }}</p>
                                </div>
                                <p class="comment-context">{{ comment.body }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <script>
            function myFunction(e) {
                e.preventDefault();
            }
        </script>
        <div class="portfol__right">
            {% lastest_postes %}
            {% most_view %}
        </div>
    </section>
    <section class="bottom-news">
        <div class="tag-news">
            <div class="tags-news__head">
            </div>
            <div class="tags-news__grid">
                {% for site in sites %}
                <a href="{{ site.get_absolute_url }}">
                    <img src="{{ site.photo.url }}" alt="">
                    <div class="tags-news__content">
                        <div><span class="time-ui">{{ site.created_at|date:"d/m/Y | f" }}</span></div>
                        <p>{{ site.title }}</p>
                    </div>
                </a>
                {% endfor %}

            </div>
        </div>
        <div class="site-news">
            <div class="site-news__head">
                <a class="aylana-label" href="#"><span>Saytlarim</span></a>
            </div>
            <div class="site-carousel">
                <div class="carousel" data-flickity='{ "groupCells": 4 }'>

                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/1 (1).png' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                Above, you see the codes from inside i mean from visual studio code
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/1 (2).png' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                Here i gathered all codes from each file in my own sites
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/1 (3).png' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                I cannot understand why do we need to write informations about photos above
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/1 (4).png' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                I wanna say only one thing while you reading this i'm loughing you know why, because you spent your time useless
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/1 (5).png' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                I cannot understand why do we need to write informations about photos above
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/1 (6).png' %}" alt=""
                                    srcset="">
                            </div>
                            <div class="carousel-content">
                                Above, you see the codes from inside i mean from visual studio code
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}